## Ignored files
.env
azure.yaml
ai_settings.yaml
last_run_ai_settings.yaml
.flaskenv
.gitignore
.nox/
.python-version
README.md
requirements.txt

## Ignored directories
agbenchmark_config/temp_folder/
autogpt/
__pycache__/
build/
dist/
node_modules/
openai/
venv/

## Byte-compiled / optimized / DLL files
*.py[cod]
*$py.class

## C extensions
*.so

## Distribution / packaging
.Python
develop-eggs/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

## PyInstaller
*.manifest
*.spec

## Installer logs
pip-log.txt
pip-delete-this-directory.txt

## Unit test / coverage reports
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover
.hypothesis/
.pytest_cache/

## Translations
*.mo
*.pot

## Django stuff:
