// Microsoft Visual C++ generated resource script.
#include "resource.h"

#ifdef APSTUDIO_INVOKED
#include "winres.h"
#else
#define _T(x) x
#include "winres.h"
#endif

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDI_APP_ICON ICON _T("resources\\app_icon.ico")

/////////////////////////////////////////////////////////////////////////////
//
// Version
//

#ifdef FLUTTER_VERSION_MAJOR
#ifdef FLUTTER_VERSION_MINOR
#ifdef FLUTTER_VERSION_PATCH
#ifdef FLUTTER_VERSION_BUILD
#define VERSION_AS_NUMBER FLUTTER_VERSION_MAJOR,FLUTTER_VERSION_MINOR,FLUTTER_VERSION_PATCH,FLUTTER_VERSION_BUILD
#else
#error "FLUTTER_VERSION_BUILD is not defined"
#endif
#else
#error "FLUTTER_VERSION_PATCH is not defined"
#endif
#else
#error "FLUTTER_VERSION_MINOR is not defined"
#endif
#else
#error "FLUTTER_VERSION_MAJOR is not defined"
#endif

#ifdef FLUTTER_VERSION
#define VERSION_AS_STRING FLUTTER_VERSION
#else
#define VERSION_AS_STRING _T("1.0.0")
#endif

VS_VERSION_INFO VERSIONINFO
 FILEVERSION VERSION_AS_NUMBER
 PRODUCTVERSION VERSION_AS_NUMBER
 FILEFLAGSMASK VS_FFI_FILEFLAGSMASK
#ifdef _DEBUG
 FILEFLAGS VS_FF_DEBUG
#else
 FILEFLAGS 0x0L
#endif
 FILEOS VOS__WINDOWS32
 FILETYPE VFT_APP
 FILESUBTYPE 0x0L
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904e4"
        BEGIN
            VALUE "CompanyName", "com.example" ;
            VALUE "FileDescription", "auto_gpt_flutter_client" ;
            VALUE "FileVersion", VERSION_AS_STRING ;
            VALUE "InternalName", "auto_gpt_flutter_client" ;
            VALUE "LegalCopyright", "Copyright (C) 2023 com.example. All rights reserved." ;
            VALUE "OriginalFilename", "auto_gpt_flutter_client.exe" ;
            VALUE "ProductName", "auto_gpt_flutter_client" ;
            VALUE "ProductVersion", VERSION_AS_STRING ;
        END
    END
    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 1200
    END
END
